@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.h_container{
    display: grid;
    grid-template-columns: 1fr;
}

.h_container div{
    margin: 1%;
    border: 1px solid black;
    border-radius: 6px;
}

#nav_content{
    margin: 1%;
}

.text_content{
    margin: 1%;
}

.c_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c_container div{
    margin: 1%;
    background: #ecf0f1;
    border-radius: 6px;
}

.enc_content{
    margin: 2%;
}

.txt{
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
    resize: vertical;
    width: 95%;
}

.btn{
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    border: none;
    border-radius: 10px;
    background: black;
    color: white;
    font-size: 20px;
}